{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>room</title>
</head>
<body>
    <div class="root">
        <div class="col-3" id="messagebox">
            {% for inf in room %}

                <form method="POST" action="/chat/send/{{ inf.room_code }}">
                    {% csrf_token %}
                    <input id="s" name="send" type="text" placeholder="write your message....."
                    style="background-color:#ffffff;border-radius: 0px;float:left;margin-top:1%;margin-left:0%;width:90%;position: fixed">
                </form>
            {% endfor %}
            <div class="col-10" id="imo">
                <button class="imojies" onclick="document.getElementById('s').value+='&#128512;'">&#128512;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128513;'">&#128513;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128514;'">&#128514;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128515;'">&#128515;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128516;'">&#128516;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128517;'">&#128517;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128518;'">&#128518;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128519;'">&#128519;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128520;'">&#128520;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128521;'">&#128521;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128522;'">&#128522;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128523;'">&#128523;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128524;'">&#128524;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128525;'">&#128525;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128526;'">&#128526;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128527;'">&#128527;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128528;'">&#128528;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128529;'">&#128529;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128530;'">&#128530;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128531;'">&#128531;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128532;'">&#128532;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128533;'">&#128533;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128534;'">&#128534;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128536;'">&#128535;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128536;'">&#128536;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128537;'">&#128537;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128538;'">&#128538;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128539;'">&#128539;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#128540;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128541;'">&#128541;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128542;'">&#128542;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128543;'">&#128543;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128544;'">&#128544;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128545;'">&#128545;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128546;'">&#128546;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128547;'">&#128547;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128548;'">&#128548;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128549;'">&#128549;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128550;'">&#128550;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128551;'">&#128551;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128552;'">&#128552;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128553;'">&#128553;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128554;'">&#128554;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128555;'">&#128555;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128556;'">&#128556;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128557;'">&#128557;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128558;'">&#128558;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128559;'">&#128559;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128560;'">&#128560;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128562;'">&#128561;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128562;'">&#128562;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128563;'">&#128563;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128564;'">&#128564;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128565;'">&#128565;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128566;'">&#128566;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128567;'">&#128567;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128568;'">&#128568;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128569;'">&#128569;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128570;'">&#128570;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128572;'">&#128571;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128572;'">&#128572;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128573;'">&#128573;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128574;'">&#128574;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128575;'">&#128575;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128576;'">&#128576;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128577;'">&#128577;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128578;'">&#128578;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128579;'">&#128579;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128580;'">&#128580;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128581;'">&#128581;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128582;'">&#128582;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128583;'">&#128583;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128584;'">&#128584;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128585;'">&#128585;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128586;'">&#128586;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128587;'">&#128587;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128588;'">&#128588;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128589;'">&#128589;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128590;'">&#128590;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128591;'">&#128591;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128592;'">&#128592;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129296;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129297;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129298;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129299;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129300;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129301;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129302;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129303;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129304;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129305;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129306;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129307;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129308;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129309;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129310;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129311;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129312;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129313;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129314;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#1298540;'">&#129315;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129316;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#129540;'">&#129317;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129318;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129319;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129320;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129321;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129322;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129323;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129324;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129325;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129326;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129327;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129328;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129329;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129330;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129331;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129332;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129333;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129334;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129335;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129336;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129337;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129338;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129339;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129340;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129341;</button>
                <button class="imojies" onclick="document.getElementById('s').value+='&#128540;'">&#129342;</button>
            </div>
        </div>
        <div id="members" class="col-3">
            {% for inf in room %}
                <h1>room code : {{ inf.room_code }}</h1>
            {% endfor %}
        </div>
        <div id="chatbar" class="col-6">
            {% for message in messages %}
                <div class="col-11" id="message">
                    <h2>{{ message.user }}</h2>
                    <p>{{ message.value }}</p>
                    <p>{{ message.date }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>